<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>

<body>

<form th:method="POST" th:action="@{/users}" th:object="${user1}">
    <input type="hidden" th:field="*{id}" id="id">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <input type="submit" value="create"/>


</form>
</body>
</html>
