<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<style>

    table {
        border: 1px solid grey;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid grey;
    }

</style>

<body>
<table>
    <tr>
        <td><h1>Name</h1></td>
        <td><h1>Surname</h1></td>
        <td><h1>Age</h1></td>
    </tr>
    <tr>
        <td th:text="${listOfUser.getId()}"></td>
        <td th:text="${listOfUser.getName()}"></td>
        <td th:text="${listOfUser.getSurname()}"></td>
        <td th:text="${listOfUser.getAge()}"></td>
    </tr>
</table>
</body>
</html>