<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<style>

    table {
        border: 1px solid grey;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid grey;
    }

</style>

<body>
<table>
    <tr>
        <td><h1>ID</h1></td>
        <td><h1>Name</h1></td>
        <td><h1>Surname</h1></td>
        <td><h1>Age</h1></td>
        <td><h1>Operations</h1></td>
    </tr>
    <tr th:each="user:${listOfUsers}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
            <form th:action="@{/users/{id}/update(id=${user.getId()})}" method="get">
                <input type="hidden" name="_method" value="UPDATE" />
                <button type="submit">update</button>
            </form>
            <form th:action="@{/users/delete/{id}(id=${user.getId()})}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit">delete</button>
            </form>
        </td>
    </tr>
</table>
<a href="users/new"><input type="button" value="Create new user"></a>
</body>
</html>